<div class="card">
  <div class="card__inner">
    <div class="app-bage"></div>
    <figure class="card__gallery">
      <img
        class="card__gallery-image"
        alt="Телефон"
        src="/assets/phone.png"
      >
    </figure>
    <div class="card__company">Samsung</div>
    <div class="card__title">Samsung T1000 4/32GB</div>

    <div class="card_rates">
      <div class="app-rates"></div>
      <span class="card__reviews">4 отзыва</span>
    </div>
    <div class="app-price"></div>

    <div class="card__actions">
      <button class="card__button">
        <span class="card__button-text">Добавить в корзину</span>
      </button>
      <button class="card__button card__button--secondary">
        <span class="card__button-text">Удалить из корзины</span>
      </button>
    </div>
    <div class="delivery-options"></div>
  </div>
</div>
